<table>
    <thead> 
        <tr>

        @foreach (var fieldInfo in mockKlanten.First().GetType().GetFields())
        {
            var Key = fieldInfo.Name;
            var b = string.Concat(@Key[0].ToString().ToUpper(), @Key.AsSpan(1));

            if (b != "Id") {
                    <th>@b</th>
            }
                
        }

        </tr>
    </thead>

    <tbody>

    @foreach (object Item in mockKlanten)
    {
        <tr>
            @foreach (var fieldInfo in Item.GetType().GetFields())
            {
                var Key = fieldInfo.Name;
                var Value = fieldInfo.GetValue(Item);

                @if (@Key == "Acties")
                {
                        /*<td><img src="favicon.png" /></td>*/
                        <td>
                            <div>
                              
                                <button style="border: none; background: none;">
                                    <span class="material-icons" style="color: slategray" @onclick="@(() => Console.WriteLine($"Edit user with id {Item.GetType().GetFields()[0].GetValue(Item)}"))">edit</span>
                                </button>
                                <button style="border: none; background: none;" @onclick="@(() => Console.WriteLine($"Deleting user with id {Item.GetType().GetFields()[0].GetValue(Item)}"))">
                                    <span class="material-icons" style="color: red">delete</span>
                                </button>
                                <button style="border: none; background: none;" @onclick="@(() => Console.WriteLine($"More info about user with id {Item.GetType().GetFields()[0].GetValue(Item)}"))">
                                    <span class="material-icons" style="color: blue; background-color: white; border-radius: 50%;">info</span>
                                </button>
                            </div>
                        </td>

                }

                @if (@Key != "Id" && Key != "Acties")
                {
                    <td>@Value</td>
                }   
            }
        </tr>
    }

    </tbody>

</table>

@code {
    public class Klant
    {
        public int Id = 0;
        public string Naam = "";
        public string Type = "";
        public string Email = "";
        public string Departement = "";
        public string Acties = "";
    };

    public ICollection<Klant> mockKlanten = new List<Klant> {
        new Klant() { Id = 1,  Naam = "Marc Asselberg", Type = "Intern", Email = "marc.asselberg@hogent.be", Departement="HOGENT" },
    new Klant() { Id = 2, Naam = "Marc Asselberg", Type = "Intern", Email = "marc.asselberg@hogent.be", Departement="HOGENT" },
        new Klant() { Id = 3, Naam = "Marc Asselberg", Type = "Intern", Email = "marc.asselberg@hogent.be", Departement="HOGENT" }
    };


}
