
<table>
    <thead> 
        <tr>

            @foreach (var fieldInfo in mockObjects.First().GetType().GetFields())
        {
            var Key = fieldInfo.Name;
            var b = string.Concat(@Key[0].ToString().ToUpper(), @Key.AsSpan(1));

            if (b != "Id") {
                    <th>@b</th>
            }
                
        }

        </tr>
    </thead>

    <tbody>

        @foreach (object Item in mockObjects)
    {
        <tr>
            @foreach (var fieldInfo in Item.GetType().GetFields())
            {
                var Key = fieldInfo.Name;
                var Value = fieldInfo.GetValue(Item);

                @if (@Key == "Acties")
                {
                        /*<td><img src="favicon.png" /></td>*/
                        <td>
                            <div>
                              
                                <button style="border: none; background: none;">
                                    <span class="material-icons" style="color: slategray" @onclick="@(() => Console.WriteLine($"Edit user with id {Item.GetType().GetFields()[0].GetValue(Item)}"))">edit</span>
                                </button>
                                <button style="border: none; background: none;" @onclick="@(() => Console.WriteLine($"Deleting user with id {Item.GetType().GetFields()[0].GetValue(Item)}"))">
                                    <span class="material-icons" style="color: red">delete</span>
                                </button>
                                <button style="border: none; background: none;" @onclick="@(() => Console.WriteLine($"More info about user with id {Item.GetType().GetFields()[0].GetValue(Item)}"))">
                                    <span class="material-icons" style="color: blue; background-color: white; border-radius: 50%;">info</span>
                                </button>
                            </div>
                        </td>

                }

                @if (@Key != "Id" && Key != "Acties")
                {
                    <td>@Value</td>
                }   
            }
        </tr>
    }

    </tbody>

</table>

@code {

    [Parameter] public ICollection<Object> mockObjects { get; set; }
}
