@page "/gebruikers/aanmaken"

<GenericLayout Display=false Title="User aanmaken">
    <Content>
        <EditForm Model="@user" OnValidSubmit="@CreateUserAsync" >
            <FluentValidationValidator />
            <div class="center-container">
                <div class="container">
                    <div class="input-container">
                        <section>
                            <div class="group">
                                <label>Voornaam</label>
                                <div>
                                    <InputText @bind-Value="user.Surname" class="inputField" />
                                    <ValidationMessage For="() => user.Surname" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Naam</label>
                                <div>
                                    <InputText @bind-Value="user.Name" class="inputField" />
                                    <ValidationMessage For="() => user.Name" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Email</label>
                                <div>
                                    <InputText @bind-Value="user.Email" class="inputField" />
                                    <ValidationMessage For="() => user.Email" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Role</label>
                                <div>
                                    <InputSelect @bind-Value="user.Role" class="inputField" >
                                        <option selected value="@ERole.User">user</option>
                                        <option          value="@ERole.Moderator">beheerder</option>
                                        <option          value="@ERole.Admin">admin</option>
                                    </InputSelect>
                                    <ValidationMessage For="() => user.Role" />
                                </div>
                            </div>
                        </section>                     
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-primary">Toevoegen</button>
                        <a href="/gebruikers" class="btn-secondary">Annuleren</a>
                    </div>
                </div>
            </div>
        </EditForm>
    </Content>
</GenericLayout>


