@page "/vm"
@using System.Globalization
@inject IVirtualMachineService VMService

<GenericLayout Display=false Title="Virtuele Machines">
    <Content>
        <div class="searchAndCreate">
            <input type="search" placeholder="Zoeken..." value="@searchTerm" @onchange="OnSearchtermChanged"/>
            <button @onclick=GoToCreateVM>Toevoegen</button>
        </div>
        <section aria-labelledby="vm-title" class="vm_list">
            <table>
                <thead>
                    <tr>
                        <th>
                            <button class="sort_button" @onclick="SortByName">Naam</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByTemplate">Template</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByCPU">CPU</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByRam">Ram</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByOpslag">Opslag</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByStartDatum">Start datum</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByEindDatum">Eind datum</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByKlant">Klant</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByBackUp">Back-up</button>
                        </th>
                        <th>
                            <button title="Hoge beschikbaarheid" aria-label="Hoge beschikbaarheid" class="sort_button" @onclick="SortByHighlyAvailable">Hoge besch.</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByStatus">Status</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vm in list)
                    {
                    <tr>
                    <td><a class="link" href=@($"/vm/{@vm.Id}")>@vm.Name</a></td>
                        <td>@vm.Template</td>
                        <td>@vm.CPU vCPU</td>
                        <td>@vm.RAM GB</td>
                        <td>@vm.Storage GB</td>
                        <td>@vm.StartDate.ToString("dd-MM-yyyy", DateTimeFormatInfo.InvariantInfo)</td>
                        <td>@vm.EndDate.ToString("dd-MM-yyyy", DateTimeFormatInfo.InvariantInfo)</td>
                            <td>@if (vm.Client is not null) {
                                    <a href="/klanten/@vm.Client?.Id"> @vm.Client?.Surname @vm.Client?.Name</a >
                                }else {
                                    <p>Geen klant</p>
                                }
                            </td>
                        <td>
                            @(
                                vm.BackupFrequency == EBackupFrequency.Daily ? "Dagelijks" : "Wekelijks"
                                )
                        </td>
                        <td>
                                <span title=@(vm.IsHighlyAvailable ? "ja" : "neen") aria-label=@(vm.IsHighlyAvailable ? "ja" : "neen")>
                                @(vm.IsHighlyAvailable ? "✔️" : "❌")
                            </span>
                        </td>
                        <td>
                            <span class=@(String.Join(" ", new List<string>() {"vm_status", vm.IsActive ? "active" : ""}))>@(vm.IsActive ? "Aan" : "Uit") </span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </section>
    </Content>
</GenericLayout>

@code {
    private List<VirtualMachineDto.Index> list = new();
    // public ICollection<Gebruiker> userObjects = new List<Gebruiker>();
    // public ICollection<Gebruiker> filteredUsers = new List<Gebruiker>();

    [Inject] public IVirtualMachineService virtualMachineService { get; set; } = default!;
    [Inject] public NavigationManager NavigationManager { get; set; } = default!;

    [Parameter, SupplyParameterFromQuery] public string? Searchterm { get; set; }
    private string? searchTerm;
    [Parameter, SupplyParameterFromQuery] public int? Page { get; set; }
    private int? page;
    [Parameter, SupplyParameterFromQuery] public int? PageSize { get; set; }
    private int? pageSize;

    private string? uri = "/vm";

    protected override async Task OnParametersSetAsync()
    {
        VirtualMachineRequest.Index request = new()
        {
            Searchterm = Searchterm,
            Page = Page ?? 1,
            PageSize = PageSize ?? 25,
        };

        searchTerm = Searchterm;
        page = Page;
        pageSize = PageSize;

        list = await VMService.GetIndexAsync(request);
    }

    private void GoToCreateVM()
    {
        NavigationManager.NavigateTo("/vm/manage");
    }

    private void FiltersChanged()
    {

        Dictionary<string, object?> parameters = new();

        parameters.Add("searchTerm", searchTerm);
        parameters.Add("page", page);
        parameters.Add("pageSize", pageSize);


        uri = NavigationManager.GetUriWithQueryParameters(parameters);
        NavigationManager.NavigateTo(uri);
    }

    private void OnSearchtermChanged(ChangeEventArgs args)
    {
        searchTerm = args.Value?.ToString();
        FiltersChanged();
    }

    public void SortByName()
    {
        list = list.OrderBy(vm => vm.Name).ToList();
        StateHasChanged();
    }

    public void SortByTemplate()
    {
        list = list.OrderBy(vm => vm.Template).ToList();
        StateHasChanged();
    }

    public void SortByCPU()
    {
        list = list.OrderBy(vm => vm.CPU).ToList();
        StateHasChanged();
    }

    public void SortByRam()
    {
        list = list.OrderBy(vm => vm.RAM).ToList();
        StateHasChanged();
    }

    public void SortByOpslag()
    {
        list = list.OrderBy(vm => vm.Storage).ToList();
        StateHasChanged();
    }

    public void SortByStartDatum()
    {
        list = list.OrderBy(vm => vm.StartDate).ToList();
        StateHasChanged();
    }

    public void SortByEindDatum()
    {
        list = list.OrderBy(vm => vm.EndDate).ToList();
        StateHasChanged();
    }

    public void SortByKlant()
    {
    }

    public void SortByBackUp()
    {
        list = list.OrderBy(vm => vm.BackupFrequency).ToList();
        StateHasChanged();
    }


    public void SortByHighlyAvailable()
    {
        list = list.OrderBy(vm => vm.IsHighlyAvailable).ToList();
        StateHasChanged();
    }

    public void SortByStatus()
    {
        list = list.OrderBy(vm => vm.IsActive).ToList();
        StateHasChanged();
    }
}