@page "/vm"
@using System.Globalization
@inject IVirtualMachineService VMService
@inject NavigationManager NavigationManager

<GenericLayout Display=false Title="Virtuele Machines">
    <Content>
        <section aria-labelledby="vm-title" class="vm_list">
            <table>
                <thead>
                    <tr>
                        <th>
                            <button class="sort_button" @onclick="SortByName">Naam</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByTemplate">Template</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByCPU">CPU</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByRam">Ram</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByOpslag">Opslag</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByStartDatum">Start datum</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByEindDatum">Eind datum</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByKlant">Klant</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByBackUp">Back-up</button>
                        </th>
                        <th>
                            <button title="Hoge beschikbaarheid" aria-label="Hoge beschikbaarheid" class="sort_button" @onclick="SortByHighlyAvailable">Hoge besch.</button>
                        </th>
                        <th>
                            <button class="sort_button" @onclick="SortByStatus">Status</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vm in list)
                    {
                    <tr>
                    <td><a class="link" href=@($"/vm/{@vm.Id}")>@vm.Name</a></td>
                        <td>@vm.Template</td>
                        <td>@vm.CPU cores</td>
                        <td>@vm.RAM GB</td>
                        <td>@vm.Storage GB</td>
                        <td>@vm.StartDate.ToString("dd-MM-yyyy", DateTimeFormatInfo.InvariantInfo)</td>
                        <td>@vm.EndDate.ToString("dd-MM-yyyy", DateTimeFormatInfo.InvariantInfo)</td>
                        <td>VOKA</td>
                        <td>
                            @(
                                vm.BackupFrequency == EBackupFrequency.Daily ? "Dagelijks" : "Wekelijks"
                                )
                        </td>
                        <td>
                                <span title=@(vm.IsHighlyAvailable ? "ja" : "neen") aria-label=@(vm.IsHighlyAvailable ? "ja" : "neen")>
                                @(vm.IsHighlyAvailable ? "✔️" : "❌")
                            </span>
                        </td>
                        <td>
                            <span class=@(String.Join(" ", new List<string>() {"vm_status", vm.IsActive ? "active" : ""}))>@(vm.IsActive ? "Aan" : "Uit") </span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </section>
    </Content>
</GenericLayout>

@code {
    [Parameter, SupplyParameterFromQuery] public string SortBy { get; set; } = default!;

    private List<VirtualMachineDto.Index> list = new();
    private string sortBy = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        sortBy = SortBy; 
        RefreshVirtualMachinesAsync(new());
    }

    private async Task RefreshVirtualMachinesAsync(VirtualMachineReq.Index request) 
    {
        list = await VMService.GetIndexAsync();
    }

    public void SortVirtualMachines() { }

    public void SortByName()
    {
        sortBy = sortBy == "name" ? "nameDesc" : "name";
        SortVirtualMachines();

    }

    public void SortByTemplate()
    {
        list = list.OrderBy(vm => vm.Template).ToList();
        StateHasChanged();
    }

    public void SortByCPU()
    {
        list = list.OrderBy(vm => vm.CPU).ToList();
        StateHasChanged();
    }

    public void SortByRam()
    {
        list = list.OrderBy(vm => vm.RAM).ToList();
        StateHasChanged();
    }

    public void SortByOpslag()
    {
        list = list.OrderBy(vm => vm.Storage).ToList();
        StateHasChanged();
    }

    public void SortByStartDatum()
    {
        list = list.OrderBy(vm => vm.StartDate).ToList();
        StateHasChanged();
    }

    public void SortByEindDatum()
    {
        list = list.OrderBy(vm => vm.EndDate).ToList();
        StateHasChanged();
    }

    public void SortByKlant()
    {
    }

    public void SortByBackUp()
    {
        list = list.OrderBy(vm => vm.BackupFrequency).ToList();
        StateHasChanged();
    }


    public void SortByHighlyAvailable()
    {
        list = list.OrderBy(vm => vm.IsHighlyAvailable).ToList();
        StateHasChanged();
    }

    public void SortByStatus()
    {
        list = list.OrderBy(vm => vm.IsActive).ToList();
        StateHasChanged();
    }
}