@page "/vm/manage"
@page "/vm/manage/{id:int}"
@page "/vm/manage/request/{id:int}"
@using Microsoft.Extensions.Logging
@inject ILogger<Manage> Logger
@inject IVirtualMachineService VirtualMachineService
@inject IVirtualMachineRequestService VirtualMachineRequestService
@inject NavigationManager NavigationManager

<GenericLayout Display=false Title="VM - Beheren">
    <Content>
        <EditForm Model="@_vm" OnValidSubmit="@HandleValidSubmit">
            <FluentValidationValidator />
            <div class="headerRow">
                <h1>VM @(Id.HasValue && !NavigationManager.Uri.Contains("request") ? $"Wijzigen - {_vm.Name}" :
                        "Aanmaken")</h1>
            </div>

            <div class="grid">
                <div class="templates">
                    <h2>Templates</h2>
                    <div class="wrap">
                    @foreach (KeyValuePair<ETemplate, Template> t in Template.TEMPLATES)
                    {
                        <TemplateCard Template="@t" TemplateClicked="() => HandleTemplate(t.Key)"></TemplateCard>
                    }

                    </div>
                    <button class="btn-secondary" @onclick="CustomTemplate">Aangepaste template</button>
                </div>

                <div class="request">
                @if (_request != null)
                {
                    <h2>Informatie van de aanvrager</h2>
                    <div class="card">
                        Projectnaam: @_request.ProjectNaam<br />
                        Start datum: @_request.StartDate<br />
                        Eind datum: @_request.EndDate<br />
                        Email: @_request.EmailAanvrager<br />
                        Nummer: @_request.NummerAanvrager<br />
                        Reden aanvraag: <br />
                        @_request.Reason

                    </div>
                }
                </div>


                <div class="form">
                    <h2> Algemene informatie</h2>
                    <div class="input-group">
                        <label>
                            Klant<br />
                            <InputSelect @bind-Value="_vm.Client">
                            </InputSelect>
                        </label>

                        <label>
                            Naam<br />
                            <InputText @bind-Value="_vm.Name"></InputText>
                            <ValidationMessage For="@(()=> _vm.Name)"></ValidationMessage>
                        </label>

                        <label>
                            Hostname<br />
                            <InputText @bind-Value="_vm.HostName"></InputText>
                            <ValidationMessage For="@(()=> _vm.HostName)"></ValidationMessage>
                        </label>

                        <label>
                            Start datum<br />
                            <InputDate @bind-Value="_vm.StartDate"></InputDate>
                            <ValidationMessage For="@(()=> _vm.StartDate)"></ValidationMessage>
                        </label>

                        <label>
                            Eind datum<br />
                            <InputDate @bind-Value="_vm.EndDate"></InputDate>
                            <ValidationMessage For="@(()=> _vm.EndDate)"></ValidationMessage>
                        </label>

                        <label>
                            Moet de VM altijd beschikbaar zijn<br />
                            <InputSelect @bind-Value="_vm.IsHighlyAvailable">
                                <option value=true> Ja</option>
                                <option value=false> Nee</option>
                            </InputSelect>
                            <ValidationMessage For="@(()=> _vm.IsHighlyAvailable)"></ValidationMessage>
                        </label>

                        <label>
                            Hoeveelheid backups<br />
                            <InputSelect @bind-Value="_vm.BackupFrequency">
                                <option value="@EBackupFrequency.Weekly"> Weekelijks</option>
                                <option value="@EBackupFrequency.Daily"> Dagelijks</option>
                            </InputSelect>
                            <ValidationMessage For="@(()=> _vm.BackupFrequency)"></ValidationMessage>
                        </label>

                        <label>
                            Wanneer moet de VM online staan?<br />
                            <InputRadioGroup @bind-Value="_vm.Availability">
                                <InputRadio Value="@EDay.Monday" />Test
                                <InputRadio Value="@EDay.Thursday" />Test2
                            </InputRadioGroup>
                            <ValidationMessage For="@(()=> _vm.Availability)"></ValidationMessage>
                        </label>

               
                        <label>
                            Poorten:<br />
                            <InputText @bind-Value="_vm.Poorten"></InputText>
                            <ValidationMessage For="@(()=> _vm.Poorten)"></ValidationMessage>
                        </label>

                        <label>
                            FQDN<br />
                            <InputText @bind-Value="_vm.FQDN"></InputText>
                            <ValidationMessage For="@(()=> _vm.FQDN)"></ValidationMessage>
                        </label>


                        <label>
                            Host<br />
                            <InputSelect @bind-Value="_vm.Host">
                                <option value="server1">Server 1</option>
                                <option value="server2">Server 2</option>
                            </InputSelect>
                            <ValidationMessage For="@(()=> _vm.Host)"></ValidationMessage>
                        </label>
                    </div>
                    <button type="submit">Submit</button>
                </div>
                
            </div>
            </EditForm>
        @if(_showCustomTemplate){
            <CustomTemplateDialog OnCancel="CancelCustomTemp" OnConfirm="ConfirmCustomTemp"></CustomTemplateDialog>
        }
    </Content>
</GenericLayout>

@code {
    private VirtualMachineDto.Mutate _vm = new();
    private VirtualMachineRequest? _request;
    private bool _showCustomTemplate = false;

    [Parameter]
    public int? Id { get; set; }

    protected override void OnInitialized()
    {
        if (!Id.HasValue) return;

        if (NavigationManager.Uri.Contains("request"))
        {
            _request = VirtualMachineRequestService.Get(Id.Value);
            if (_request == null) return;

            _vm.StartDate = _request.StartDate;
            _vm.EndDate = _request.EndDate;
        }
        else
        {
            var vm = VirtualMachineService.Get(Id.Value) ?? new();
            _vm.Name = vm.Name;
            _vm.CPU = vm.CPU;
            _vm.RAM = vm.RAM;
            _vm.Storage = vm.Storage;
            _vm.StartDate = vm.StartDate;
            _vm.EndDate = vm.EndDate;
            _vm.IsActive = vm.IsActive;
            _vm.HostName = vm.HostName;
            _vm.FQDN = vm.FQDN;
            _vm.IsHighlyAvailable = vm.IsHighlyAvailable;
            _vm.Template = vm.Template;
            _vm.BackupFrequency = vm.BackupFrequency;
            _vm.Availability = vm.Availability;
            _vm.Mode = vm.Mode;
            _vm.Host = vm.Host;
            _vm.Client = vm.Client;
            _vm.Poorten = vm.Poorten;
        }
    }

    private void HandleTemplate(ETemplate template){
        _vm.Template = Template.TEMPLATES.Where(t => t.Key == template).First().Value;
    }
    private void CustomTemplate(){
        _showCustomTemplate = true;
    }
    private void ConfirmCustomTemp(){
        _showCustomTemplate = false;
    }
    private void CancelCustomTemp(){
        _showCustomTemplate = false;
    }

    private void HandleValidSubmit()
    {
        //Aanmaken VM gevolg van aanvraag
        if (_request!=null)
        {

        }
        //wijzigen VM
        else if (Id.HasValue && VirtualMachineService.Get(Id.Value)!= null)
        {

        }
        //Aanmaken VM
        else
        {

        }   
    }
}
