@page "/vm/request"
@using Microsoft.Extensions.Logging
@inject ILogger<Request> Logger

<GenericLayout Display=false Title="VM - Aanvragen">
    <Content>
        <div class="form">
            <EditForm Model="@vmRequest" OnValidSubmit="@HandleValidSubmit">
                <FluentValidationValidator />
                <div class="headerRow">
                    <h1>Vraag een VM aan</h1>
                </div>

                <div class="input-group">
                    <label>
                        Geef een naam aan het project waarvoor de VM wordt gebruikt <br />
                        <InputText @bind-Value="vmRequest.ProjectName" ></InputText>
                        <ValidationMessage For="@(()=> vmRequest.ProjectName)"></ValidationMessage>
                    </label>

                    <label>
                        Start datum<br />
                        <InputDate @bind-Value="vmRequest.StartDate" ></InputDate>
                        <ValidationMessage For="@(()=> vmRequest.StartDate)"></ValidationMessage>
                    </label>
                    <label>
                        Eind datum<br />
                        <InputDate @bind-Value="vmRequest.EndDate"></InputDate>
                        <ValidationMessage For="@(()=> vmRequest.EndDate)"></ValidationMessage>
                    </label>


                    <label class="reden">
                       Geef een omschrijving voor de aanvraag van de VM en andere informatie die belangrijk is voor de aanvraag.<br />
                        <InputTextArea id="reason" @bind-Value="vmRequest.Reason" style="width: 100%" ></InputTextArea>
                        <ValidationMessage For="@(()=> vmRequest.Reason)"></ValidationMessage>
                     </label>

                    <button type="submit">Submit</button>

                </div>
            </EditForm>
        </div>
    </Content>
</GenericLayout>

@code {
    private VirtualMachineRequestDto.Create vmRequest = new();


    private void HandleValidSubmit()
    {
        Console.WriteLine("submit");
        Console.WriteLine(vmRequest.Reason);
    }

}
