@page "/vm/request"
@inject IVirtualMachineRequestService VirtualMachineRequestService
@inject NavigationManager NavigationManager
@inject IClientService ClientService
@inject IVirtualMachineRequestService VirtualMachineRequestService

<GenericLayout Display=false Title="VM Aanvragen">
    <Content>
        <div class="requestpage">
            <EditForm Model="@vmRequest" OnValidSubmit="@HandleValidSubmit">
                <FluentValidationValidator />
                <div class="form">
                    <div class="input-group">
                        <label>
                            Geef een naam aan het project waarvoor de VM wordt gebruikt <br />
                            <InputText @bind-Value="vmRequest.ProjectName" class="inputField"></InputText>
                            <ValidationMessage For="@(()=> vmRequest.ProjectName)"></ValidationMessage>
                        </label>

                        <label>
                            Start datum<br />
                            <InputDate @bind-Value="vmRequest.StartDate" class="inputField"></InputDate>
                            <ValidationMessage For="@(()=> vmRequest.StartDate)"></ValidationMessage>
                        </label>
                        <label>
                            Eind datum<br />
                            <InputDate @bind-Value="vmRequest.EndDate" class="inputField"></InputDate>
                            <ValidationMessage For="@(()=> vmRequest.EndDate)"></ValidationMessage>
                        </label>


                        <label class="reden">
                            Geef een omschrijving voor de aanvraag van de VM en andere informatie die belangrijk is voor
                            de aanvraag.<br />
                            <InputTextArea @bind-Value="vmRequest.Reason" class="inputField"></InputTextArea>
                            <ValidationMessage For="@(()=> vmRequest.Reason)"></ValidationMessage>
                        </label>

                        @if (_existingClient)
                        {

                        }
                    </div>
                    <button type="submit" class="btn-primary">Submit</button>
                </div>
            </EditForm>
        </div>
    </Content>
</GenericLayout>

@if (_confirmMsg)
{
    <div class="background">
        <div class="window">
            <h2>Aanvraag werd succesvol aangemaakt</h2>
            <p>@($"Aanvraag voor {vmRequest.ProjectName} succesvol aangemaakt.")</p>
            <div class="window-buttons">
                <button class="btn-primary"
                    @onclick="RouteToHome">
                    Terug naar homescreen
                </button>
            </div>
        </div>
    </div>
}


@code {
    private VirtualMachineRequestDto.Create vmRequest = new();
    public bool _existingClient = true;
    private bool _confirmMsg = false;

    protected override void OnInitialized()
    {
        vmRequest.StartDate = DateTime.Now;
        vmRequest.EndDate = DateTime.Now;
    }

    private async Task HandleValidSubmit()
    {
        int id = await VirtualMachineRequestService.CreateAsync(vmRequest);
        _confirmMsg = true;
    }

    private void RouteToHome(){
        _confirmMsg = false;
        NavigationManager.NavigateTo("");
    }
}
