<PageTitle>@Title</PageTitle>

<div class="title-container">
    <h1>@Title</h1>
    <div class="actions">
        @Actions
    </div>
</div>
<div class="content">
    <UsageStats Display="@Display" Title="@StatsTitle" Usages="@Usages" />
    <div class="main_content">
        @Content
    </div>
</div>

@code {
    [Parameter]
    public bool Display { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? StatsTitle { get; set; }
    [Parameter]
    public List<UsageDto.Index> Usages { get; set; } = new();
    [Parameter]
    public RenderFragment? Content { get; set; }
    [Parameter]
    public RenderFragment? Actions { get; set; }

}
