@page "/gebruikers/wijzigen/{id}/algemeen"
@attribute [Authorize (Roles = "Administrator, Moderator")]


@if (loading)
{
    <Loading Title="Gebruiker wijzigen (Algemeen)"/>
    return;
}

@if (error)
{
    <Error Title="Gebruiker wijzigen (Algemeen)" ErrorMessage="@errorMessage"/>
    return;
}

<GenericLayout Display=false Title=@($"Gebruiker Wijzigen - {_userGeneralInfo.FirstName} {_userGeneralInfo.LastName}")>
    <Content>
        <MinorError 
            MinorErrorBool=@minorError
            MinorErrorMessage="@minorErrorMessage"
            ResetMinorError="@ResetMinorError"/>
        <EditForm Model="@_userGeneralInfoMutate" OnValidSubmit="@OnSubmit" >
            <FluentValidationValidator />
                <div class="container">
                    <div class="input-container">
                        <section>
                            <div class="group">
                                <label>Voornaam</label>
                                <div>
                                    <InputText @bind-Value="_userGeneralInfoMutate.FirstName" class="inputField"/>
                                    <ValidationMessage For="() => _userGeneralInfoMutate.FirstName"/>
                                </div>
                            </div>
                            <div class="group">
                                <label>Achternaam</label>
                                <div>
                                    <InputText @bind-Value="_userGeneralInfoMutate.LastName" class="inputField"/>
                                    <ValidationMessage For="() => _userGeneralInfoMutate.LastName"/>
                                </div>
                            </div>
                            <div class="group">
                                <label>Email</label>
                                <div>
                                    <InputText @bind-Value="_userGeneralInfoMutate.Email" class="inputField"/>
                                    <ValidationMessage For="() => _userGeneralInfoMutate.Email"/>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="group">
                                <label>Actief</label>
                                <div>
                                    <InputCheckbox @bind-Value="_userGeneralInfoMutate.Blocked" class="inputField"/>
                                </div>
                            </div>
                            <div class="group">
                                <label>Schermnaam</label>
                                <div>
                                    <InputText @bind-Value="_userGeneralInfoMutate.ScreenName" class="inputField"/>
                                    <ValidationMessage For="() => _userGeneralInfoMutate.ScreenName"/>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-primary">Wijzigen</button>
                        <a href=@($"/gebruikers/wijzigen/{Id}") class="btn-secondary">Annuleren</a>
                    </div>
                </div>
        </EditForm>
    </Content>
</GenericLayout>

