@page "/klanten/{id:int}"
@inject IClientService ClientService
@inject NavigationManager NavigationManager

@if (client == null) 
{
    <Loading Title="Klant" />
    return;
}

@if (error)
{
    <Error Title="Klant" ErrorMessage="@errorMessage" />
    return;
}

<GenericLayout Display=false Title=@($"Klant - {client.Name}")>
    <Actions>
        <a href="/klanten" class="btn-primary">
            Terug naar overzicht
        </a>
    </Actions>
    <Content>
        <div class="center-container">
            <div class="container">
            <section aria-labelledby="client-name">
                <div class="detail-container">
                    <!-- Details Algemeen -->
                    <section>
                        <h2>Algemeen</h2>
                        <table>
                            <tr>
                                <th>Emailadres</th>
                                <td>@client.Email</td>
                            </tr>
                            <tr>
                                <th>GSM-nummer</th>
                                <td>@client.PhoneNumber</td>
                            </tr>
                            <tr>
                                <th>Backup contact</th>
                                <td>@client.BackupContact</td>
                            </tr>
                        </table>
                    </section>
                    <!-- Details Intern/Extern-->
                    @if (@client.ClientType == EClientType.Internal) {
                        <section>
                            <h2>Intern</h2>
                            <table>
                                <tr>
                                    <th>Klant organisatie</th>
                                    <td>@client.ClientOrganisation</td>
                                </tr>
                                <tr>
                                    <th>Opleiding</th>
                                    <td>@client.Education</td>
                                </tr>
                            </table>
                        </section>
                    } else if (client.ClientType == EClientType.External) {
                        <section>
                            <h2>Extern</h2>
                            <table>
                                <tr>
                                    <th>Naam externe</th>
                                    <td>@client.ClientOrganisation</td>
                                </tr>
                                <tr>
                                    <th>Rol</th>
                                    <td>@client.ExternalType</td>
                                </tr>
                            </table>
                        </section>
                    }
                </div>
                <!-- Knoppen -->
                <div class="button-container">
                    <a href="klanten/wijzigen/@Id" class="btn-primary" >Wijzigen</a>
                    @if (!isRequestingDelete) 
                    {
                        <button class="btn-delete" @onclick="ToggleDelete">Verwijderen</button>
                    } else 
                    {
                        <button class="btn-secondary" @onclick="ToggleDelete">Annuleren</button>
                        <button class="btn-delete" @onclick="DeleteClientAsync">Verwijderen bevestigen</button>
                    }

                </div>
            </section>
            </div>
        </div>
    </Content>
</GenericLayout>

@code {
    [Parameter] public int Id { get; set; }
    private ClientDto.Detail? client;

    private bool isRequestingDelete = false;
    private bool error = false;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetClientAsync();
    }

    private async Task GetClientAsync()
    {
        var response = await ClientService.GetDetailAsync(Id);
        if (response == null) return;
        client = response;
    }

    private void ToggleDelete() 
    {
        isRequestingDelete = !isRequestingDelete;
    }

    private async Task DeleteClientAsync() 
    {
        await ClientService.DeleteAsync(Id);
        NavigationManager.NavigateTo("/klanten");
    } 
}