@page "/klanten"
@inject IClientService ClientService
@inject NavigationManager NavigationManager

@if (clients == null)
{
    <p>Loading...</p>
    return;
}

<div class="title-container">
    <h1>Klanten</h1>
    <div class="select-container">
        <!-- Container indien nog sorteer opties moeten worden toegevoegd -->
        <Searchbar SearchTerm="@Searchterm" />
        <select @onchange=OnSelectFilter>
            <option value="all" selected>Alle</option>
            <option value="internal">Alleen interne</option>3
            <option value="external">Alleen Externe</option>
        </select>
    </div>
</div>
<GenericLayout Display=false Title="Klanten">
    <Content>
        <div class="button-container">
            <button class="btn-primary" @onclick=GoToCreateClient>Klant Toevoegen</button>
        </div>

        <Table 
            Object="@(new Klant())"
            Collection="@filteredClients" 
            InfoCallback="@GoToClientDetails"
            EditCallback="@GoToEditClient"
            DeleteCallback="@DeleteClientAsync"
        />
    </Content>
</GenericLayout>


@code{
    [Parameter, SupplyParameterFromQuery] public string? Searchterm { get; set; }
    [Parameter, SupplyParameterFromQuery] public int? Page { get; set; }
    [Parameter, SupplyParameterFromQuery] public int? PageSize { get; set; }

    private List<ClientDto.Index> clients = new();
    private ICollection<Klant> clientObjects = new List<Klant>();
    public ICollection<Klant> filteredClients = new List<Klant>();

    public class Klant
    {
        public int Id;
        public string? Voornaam;
        public string? Naam;
        public string? Type;
        public string? Telefoon_nummer;
        public string? Klant_organisatie;
    }; 

    protected override async Task OnInitializedAsync()
    {
        await RefreshClientsAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        ClientRequest.Index request = new()
            {
                Searchterm = Searchterm,
                Page = Page.HasValue ? Page.Value : 1,
                PageSize = PageSize.HasValue ? PageSize.Value : 25,
            };
        await RefreshClientsAsync(request);
    }

    private async Task RefreshClientsAsync(ClientRequest.Index request = null) {
        if (request == null) request = new();
        clientObjects.Clear();
        filteredClients.Clear();
        clients = await ClientService.GetIndexAsync(request);

        clients.ForEach(c =>
        {
            clientObjects.Add(new Klant
                {
                    Id = c.Id,
                    Voornaam = c.Surname,
                    Naam = c.Name,
                    Type = ConvertTypeToString(c.ClientType),
                    Telefoon_nummer = c.PhoneNumber,
                    Klant_organisatie = c.ClientOrganisation
                });
        });
        filteredClients = clientObjects;
    }

    private void GoToClientDetails(int id)
    {
        NavigationManager.NavigateTo($"/klanten/{id}");
    }

    private void GoToCreateClient() 
    {
        NavigationManager.NavigateTo("/klanten/aanmaken");
    }

    private void GoToEditClient(int id)
    {
        NavigationManager.NavigateTo($"/klanten/wijzigen/{id}");
    }

    private async Task DeleteClientAsync(int id)
    {
        await ClientService.DeleteAsync(id);
        await RefreshClientsAsync();
    }

    private void OnSelectFilter(ChangeEventArgs e)
    {
        switch (e.Value)
        {
            case "all":
                filteredClients = clientObjects;
                break;
            case "internal":
                filteredClients = clientObjects.Where(c => c.Type == "Intern").ToList();
                break;
            case "external":
                filteredClients = clientObjects.Where(c => c.Type == "Extern").ToList();
                break;
            default:
                filteredClients = clientObjects;
                break;
        }
    }

    private string ConvertTypeToString(EClientType type) {
        return (type) switch
        {
            EClientType.Internal => "Intern",
            EClientType.External => "Extern",
            _ => ""
        };
    }
}