@page "/historiek/voorspelling"
@using System.Globalization

<GenericLayout Display="true" Title="Resource Planner" StatsTitle=@($"Gebruik op {datum.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)}") Usages="@Usages">
    <Actions>
        <input type="date" id="datum" name="datum"
                min=@($"{DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}") 
                max=@($"{DateTime.Now.AddYears(2).ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}") 
                @bind-value="datum" 
                @bind-value:event="oninput"
        />
        <select name="evolutie" id="evolutie" @bind="evolutie">
            <option value="1">1 maand</option>
            <option value="3">3 maanden</option>
            <option value="5">5 maanden</option>
            <option value="8">8 maanden</option>
            <option value="12">1 jaar</option>
        </select>
    </Actions>
    <Content>
        <div class="grafiekcomponent">
            <div class="grafiek">
                <RadzenChart>
                    <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="CPU" LineType="LineType.Solid" ValueProperty="CPU">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="RAM" LineType="LineType.Solid" ValueProperty="RAM">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Opslag" LineType="LineType.Solid" ValueProperty="Storage">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="1" Formatter="@FormatAsMonth"/>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis> 
                </RadzenChart>
            </div>
        </div>
    </Content>
</GenericLayout>