@page "/historiek"
@using System.Globalization
@inject IActivityService ActivityService
@inject IVirtualMachineRequestService VirtualMachineRequestService

<PageTitle>Rapportering</PageTitle>

<div class="title-container">
    <h1>Historiek</h1>
</div>
<div class="analytics-container">
    <div class="currentUse-container">
        <!-- Huidige gebruik component-->
    </div>
    <div class="table-container"> 
        <table>
            <thead> 
                <tr>
                    <th></th>
                    <th>Virtual Machine</th>
                    <th>Activiteit</th>
                    <th># CPU</th>
                    <th># RAM</th>
                    <th># Storage</th>
                    <th>Datum</th>
                    <th>StartDate</th>
                    <th>EndDate</th>

                </tr>
            </thead>
            <tbody>
                @{var id = 1;}
                @foreach (Activity activity in _activities) 
                {
                    var vm = activity.VirtualMachine;
                    <tr>
                        <td>@(id++)</td>
                        <td>@vm.Name</td>
                        @switch (activity.Type) {
                            case EActivity.Added:
                                <td>VM toegevoegd</td>
                                <td class="added">+ @vm.CPU Cores</td>
                                <td class="added">+ @vm.RAM GB</td>
                                <td class="added">+ @vm.Storage GB</td>
                                break;
                            case EActivity.Deleted:
                                <td>VM verwijderd</td>
                                <td class="deleted">- @vm.CPU Cores</td>
                                <td class="deleted">- @vm.RAM GB</td>
                                <td class="deleted">- @vm.Storage GB</td>
                                break;
                            default:
                                break;
                        }
                        <td>@activity.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                        <td>@vm.StartDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                        <td>@vm.EndDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <label for="datum">Kies een datum:</label>

    <input type="date" id="datum" name="datum"
           min="2022-01-01" max="2023-04-01" @bind-value="activitydatum" @bind-value:event="oninput">

    <p>@($"Historiek/capiciteit voor {activitydatum.Day}/{activitydatum.Month}/{activitydatum.Year}:")</p>
</div>

<div style="display: flex;
  flex-wrap: nowrap; justify-content: center; align-items: center
  ">
    <div style="background: green; margin: 5px;">
        <p>Capaciteit CPU:</p>
        <p>Totaal: @DefinitieftotaalCPU</p>
        <p>Vrij: @DefinitiefvrijCPU</p>
        <p>In gebruik: @DefinitiefgebruikCPU</p>
    </div>

     <div style="background: orange; margin: 5px;">
        <p>Capaciteit RAM:</p>
        <p>Totaal: @DefinitieftotaalRAM</p>
        <p>Vrij: @DefinitiefvrijRAM</p>
        <p>In gebruik: @DefinitiefgebruikRAM</p>
    </div>

    <div style="background: yellow; margin: 5px;">
        <p>Capaciteit Opslag:</p>
        <p>Totaal: @DefinitieftotaalStorage</p>
        <p>Vrij: @DefinitiefvrijStorage</p>
        <p>In gebruik: @DefinitiefgebruikStorage</p>
    </div>
 
</div>

<div style="background-color: white">
    <RadzenChart>
        <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Capaciteit CPU" LineType="LineType.Solid" ValueProperty="CPU">
            <RadzenMarkers MarkerType="MarkerType.Circle" />
            <RadzenSeriesDataLabels Visible="false" />
        </RadzenLineSeries>

        <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Capaciteit RAM" LineType="LineType.Solid" ValueProperty="RAM">
            <RadzenMarkers MarkerType="MarkerType.Circle" />
            <RadzenSeriesDataLabels Visible="false" />
        </RadzenLineSeries>

        <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Capaciteit Opslag" LineType="LineType.Solid" ValueProperty="Storage">
            <RadzenMarkers MarkerType="MarkerType.Circle" />
            <RadzenSeriesDataLabels Visible="false" />
        </RadzenLineSeries>

        <RadzenCategoryAxis Padding="1" Formatter="@FormatAsMonth" />
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="capaciteit in Cores(CPU) en GB(Ram en Opslag)" />
        </RadzenValueAxis>
    </RadzenChart>
</div>


@code {
    private List<Activity> _activities = new();
    private List<VirtualMachineRequest> _requests = new();
    private DataItem[] historiek;
    private DateTime activitydatum = new DateTime(2022, 01, 01);

    //totaal
    private int TotaalactiviteitCPU() { return _activities.Where(a => (a.Date <= activitydatum)).ToList().Aggregate(0, (acc, x) => acc + x.VirtualMachine.CPU); }
    private int TotaalactiviteitRAM() { return _activities.Where(a => (a.Date <= activitydatum)).ToList().Aggregate(0, (acc, x) => acc + x.VirtualMachine.RAM); }
    private int TotaalactiviteitStorage() { return _activities.Where(a => (a.Date <= activitydatum)).ToList().Aggregate(0, (acc, x) => acc + x.VirtualMachine.Storage); }

    //vrij activiteit
    private int VrijactiviteitCPU() {
        return _activities.Where(a => (a.Date <= activitydatum)).ToList().Aggregate(0, (acc, x) =>
        {
            if (x.Type == EActivity.Deleted)
            {
                return acc + x.VirtualMachine.CPU;
            }
            else if (x.Type == EActivity.Added && x.VirtualMachine.EndDate <= activitydatum)
            {
                return acc + x.VirtualMachine.CPU;
            }
            return acc + 0;
        });
    }

    private int VrijactiviteitRAM()
    {
        return _activities.Where(a => (a.Date <= activitydatum)).ToList().Aggregate(0, (acc, x) =>
        {
            if (x.Type == EActivity.Deleted)
            {
                return acc + x.VirtualMachine.RAM;
            }
            else if (x.Type == EActivity.Added && x.VirtualMachine.EndDate <= activitydatum)
            {
                return acc + x.VirtualMachine.RAM;
            }
            return acc + 0;
        });
    }

    private int VrijactiviteitStorage() {
        return _activities.Where(a => (a.Date <= activitydatum)).ToList().Aggregate(0, (acc, x) =>
        {
            if (x.Type == EActivity.Deleted)
            {
                return acc + x.VirtualMachine.Storage;
            }
            else if (x.Type == EActivity.Added && x.VirtualMachine.EndDate <= activitydatum)
            {
                return acc + x.VirtualMachine.Storage;
            }
            return acc + 0;
        });
    }

    //vrij aanvraag
    private int VrijaanvraagCPU() {
        return _requests.Where(r => (r.Status == ERequestStatus.Handled || r.Status == ERequestStatus.Accepted)
            && r.Date <= activitydatum
            && (r.StartDate <= activitydatum && r.EndDate <= activitydatum)
            ).ToList().Aggregate(0, (acc, x) =>
        {
            if (x.Reason.Contains("DevOps"))
            {
                return acc + Template.TEMPLATES[ETemplate.Database].Stats.Cpu;
            }
            else if (x.Reason.Contains("AI"))
            {
                return acc + Template.TEMPLATES[ETemplate.ArtificialIntelligence].Stats.Cpu;
            }
            return acc + 0;
        });
    }

    private int VrijaanvraagRAM()
    {
        return _requests.Where(r => (r.Status == ERequestStatus.Handled || r.Status == ERequestStatus.Accepted)
            && r.Date <= activitydatum
            && (r.StartDate <= activitydatum && r.EndDate <= activitydatum)
            ).ToList().Aggregate(0, (acc, x) =>
        {
            if (x.Reason.Contains("DevOps"))
            {
                return acc + Template.TEMPLATES[ETemplate.Database].Stats.Ram;
            }
            else if (x.Reason.Contains("AI"))
            {
                return acc + Template.TEMPLATES[ETemplate.ArtificialIntelligence].Stats.Ram;
            }
            return acc + 0;
        });
    }

    private int VrijaanvraagStorage()
    {
        return _requests.Where(r => (r.Status == ERequestStatus.Handled || r.Status == ERequestStatus.Accepted)
            && r.Date <= activitydatum
            && (r.StartDate <= activitydatum && r.EndDate <= activitydatum)
            ).ToList().Aggregate(0, (acc, x) =>
        {
            if (x.Reason.Contains("DevOps"))
            {
                return acc + Template.TEMPLATES[ETemplate.Database].Stats.Storage;
            }
            else if (x.Reason.Contains("AI"))
            {
                return acc + Template.TEMPLATES[ETemplate.ArtificialIntelligence].Stats.Storage;
            }
            return acc + 0;
        });
    }

    //gebruik
    private int GebruikaanvraagCPU() {
        return _requests.Where(r => (r.Status == ERequestStatus.Handled || r.Status == ERequestStatus.Accepted)
            && r.Date <= activitydatum
            && (r.StartDate <= activitydatum && r.EndDate > activitydatum)
            ).ToList().Aggregate(0, (acc, x) =>
            {
                if (x.Reason.Contains("DevOps"))
                {
                    return acc + Template.TEMPLATES[ETemplate.Database].Stats.Cpu;
                }
                else if (x.Reason.Contains("AI"))
                {
                    return acc + Template.TEMPLATES[ETemplate.ArtificialIntelligence].Stats.Cpu;
                }
                return acc + 0;
            });
    }

    private int GebruikaanvraagRAM()
    {
        return _requests.Where(r => (r.Status == ERequestStatus.Handled || r.Status == ERequestStatus.Accepted)
            && r.Date <= activitydatum
            && (r.StartDate <= activitydatum && r.EndDate > activitydatum)
            ).ToList().Aggregate(0, (acc, x) =>
            {
                if (x.Reason.Contains("DevOps"))
                {
                    return acc + Template.TEMPLATES[ETemplate.Database].Stats.Ram;
                }
                else if (x.Reason.Contains("AI"))
                {
                    return acc + Template.TEMPLATES[ETemplate.ArtificialIntelligence].Stats.Ram;
                }
                return acc + 0;
            });
    }

    private int GebruikaanvraagStorage()
    {
        return _requests.Where(r => (r.Status == ERequestStatus.Handled || r.Status == ERequestStatus.Accepted)
            && r.Date <= activitydatum
            && (r.StartDate <= activitydatum && r.EndDate > activitydatum)
            ).ToList().Aggregate(0, (acc, x) =>
            {
                if (x.Reason.Contains("DevOps"))
                {
                    return acc + Template.TEMPLATES[ETemplate.Database].Stats.Storage;
                }
                else if (x.Reason.Contains("AI"))
                {
                    return acc + Template.TEMPLATES[ETemplate.ArtificialIntelligence].Stats.Storage;
                }
                return acc + 0;
            });
    }

    //berekenen
    private int DefinitieftotaalCPUfunc() { return TotaalactiviteitCPU() + VrijaanvraagCPU() + GebruikaanvraagCPU(); }
    private int DefinitiefvrijCPUfunc() {return VrijactiviteitCPU() + VrijaanvraagCPU();}
    private int DefinitiefgebruikCPUfunc() { return (TotaalactiviteitCPU() - VrijactiviteitCPU()) + GebruikaanvraagCPU(); }

    private int DefinitieftotaalRAMfunc() { return TotaalactiviteitRAM() + VrijaanvraagRAM() + GebruikaanvraagRAM(); }
    private int DefinitiefvrijRAMfunc() { return VrijactiviteitRAM() + VrijaanvraagRAM(); }
    private int DefinitiefgebruikRAMfunc() { return (TotaalactiviteitRAM() - VrijactiviteitRAM()) + GebruikaanvraagRAM(); }

    private int DefinitieftotaalStoragefunc() { return TotaalactiviteitStorage() + VrijaanvraagStorage() + GebruikaanvraagStorage(); }
    private int DefinitiefvrijStoragefunc() { return VrijactiviteitStorage() + VrijaanvraagStorage(); }
    private int DefinitiefgebruikStoragefunc() { return (TotaalactiviteitStorage() - VrijactiviteitStorage()) + GebruikaanvraagStorage(); }

    private int DefinitieftotaalCPU => DefinitieftotaalCPUfunc();
    private int DefinitiefvrijCPU => DefinitiefvrijCPUfunc();
    private int DefinitiefgebruikCPU => DefinitiefgebruikCPUfunc();

    private int DefinitieftotaalRAM => DefinitieftotaalRAMfunc();
    private int DefinitiefvrijRAM => DefinitiefvrijRAMfunc();
    private int DefinitiefgebruikRAM => DefinitiefgebruikRAMfunc();

    private int DefinitieftotaalStorage => DefinitieftotaalStoragefunc();
    private int DefinitiefvrijStorage => DefinitiefvrijStoragefunc();
    private int DefinitiefgebruikStorage => DefinitiefgebruikStoragefunc();


    /*-grafiek verandert als datum verandert
    */

    /*GRAFIEK*/

    class DataItem
    {
        public DateTime Date { get; set; }
        public double CPU { get; set; }
        public double RAM { get; set; }
        public double Storage { get; set; }

    }

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("dd/MM/yyyy");
        }

        return string.Empty;
    }

    protected override void OnInitialized()
    {
        /* Sorteren op datum in back-end*/
        _activities = ActivityService.GetAll();
        _requests = VirtualMachineRequestService.GetAll();

        /*foreach(var r in _requests)
        {
            Console.WriteLine($"project naam: {r.projectNaam}");
        }*/

        historiek = new DataItem[_activities.Count];
        
        for (int i = 0; i < historiek.Length; i++)
        {
            historiek[i] = new DataItem { Date = _activities[i].Date, CPU = (double)_activities[i].VirtualMachine.CPU, RAM = (double)_activities[i].VirtualMachine.RAM, Storage = (double)_activities[i].VirtualMachine.Storage };
        }
    }
}
