@page "/historiek"
@using System.Globalization
@inject IActivityService ActivityService

<PageTitle>Rapportering</PageTitle>

<div class="title-container">
    <h1>Historiek</h1>
</div>
<div class="analytics-container">
    <div class="currentUse-container">
        <!-- Huidige gebruik component-->
    </div>
    <div class="table-container"> 
        <table>
            <thead> 
                <tr>
                    <th></th>
                    <th>Virtual Machine</th>
                    <th>Activiteit</th>
                    <th># CPU</th>
                    <th># RAM</th>
                    <th># Storage</th>
                    <th>Datum</th>

                </tr>
            </thead>
            <tbody>
                @{var id = 1;}
                @foreach (Activity activity in _activities) 
                {
                    var vm = activity.VirtualMachine;
                    <tr>
                        <td>@(id++)</td>
                        <td>@vm.Name</td>
                        @switch (activity.Type) {
                            case EActivity.Added:
                                <td>VM toegevoegd</td>
                                <td class="added">+ @vm.CPU Cores</td>
                                <td class="added">+ @vm.RAM GB</td>
                                <td class="added">+ @vm.Storage GB</td>
                                break;
                            case EActivity.Deleted:
                                <td>VM verwijderd</td>
                                <td class="deleted">- @vm.CPU Cores</td>
                                <td class="deleted">- @vm.RAM GB</td>
                                <td class="deleted">- @vm.Storage GB</td>
                                break;
                            default:
                                break;
                        }
                        <td>@activity.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <label for="datum">Kies een datum:</label>

    <input type="date" id="datum" name="datum"
           min="2020-01-01" max="2023-01-01" @bind-value="activitydatum" @bind-value:event="oninput">

    <p>@($"Historiek/capiciteit voor {activitydatum.Day}/{activitydatum.Month}/{activitydatum.Year}:")</p>
    <br />
    <p>capaciteit cpu: @cpu</p>
    <p>capaciteit ram: @ram</p>
    <p>capaciteit opslag: @storage</p>
   
</div>

    <p> here it is </p>
    <RadzenChart>
                    <RadzenLineSeries Smooth=false Data="@revenue2019" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible=true />
                    </RadzenLineSeries>
                   
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
</div>


@code {
    private List<Activity> _activities = new();
    private DateTime activitydatum = DateTime.Now;

    /*TODO business logica voor filter methode: filtert nu op Deleted*/
    private List<Activity> act => _activities.Where(a => (a.Type == EActivity.Deleted)).ToList();

    /*capaciteit cpu, ram en opslag*/
    private int cpu => act.Aggregate(0, (acc, x) => acc + x.VirtualMachine.CPU);
    private int ram => act.Aggregate(0, (acc, x) => acc + x.VirtualMachine.RAM);
    private int storage => act.Aggregate(0, (acc, x) => acc + x.VirtualMachine.Storage);

    protected override void OnInitialized()
    {
        /* Sorteren op datum in back-end*/
        _activities = ActivityService.GetAll();

        //foreach(var activity in _activities) {
        //    Console.WriteLine($"type: {activity.Type}, date: {activity.Date}");
        //}
    }
}
