@page "/virtuele_machines/{id:int}"
@using global::Shared
@inject IVirtualMachineService VMService

@*TODO change page title*@
<h1>Virtuele Machine (@vm.Name)</h1>

<h2>Algemeen</h2>
<table class="table">
    <tr>
        <th>Naam</th>
        <td>@vm.Name</td>
    </tr>
    <tr>
        <th>Hostname</th>
        <td>@vm.HostName</td>
    </tr>
    <tr>
        <th>Gebruiker</th>
        <td></td>
    </tr>
    <tr>
        <th>Wachtwoord</th>
        <td></td>
    </tr>
    <tr>
        <th>Startdatum gebruik</th>
        <td>@vm.StartDate</td>
    </tr>
    <tr>
        <th>Einddatum gebruik</th>
        <td>@vm.EndDate</td>
    </tr>
    <tr>
        <th>FQDN</th>
        <td>@vm.FQDN</td>
    </tr>
    <tr>
        <th>Hoge beschikbaarheid</th>
        <td>@(vm.IsHighAvailable ? "Ja" : "Nee")</td>
    </tr>
    <tr>
        <th>Template</th>
        <td>@vm.Template.Name</td>
    </tr>
    <tr>
        <th>Backup</th>
        <td>@(vm.EBackupFrequency == EBackupFrequency.Daily ? "Dagelijks" : "Wekelijks") </td>
    </tr>
    <tr>
        <th>Modus</th>
        <td>@vm.Template.Mode</td>
    </tr>
    <tr>
        <th>Dagen besschikbaar</th>
        @*TODO use constains to check for a certain day*@
        <td>@vm.Availability</td>
    </tr>
</table>

<h2>Status</h2>
<table class="table">
    <tr>
        <th>Status</th>
        <td>@(vm.IsActive ? "Aan" : "Uit")</td>
    </tr>
    <tr>
        <th>CPU cores</th>
        <td>@vm.Template?.Stats?.Cpu</td>
    </tr>
    <tr>
        <th>Geheugen</th>
        <td>@vm.Template.Stats.Ram</td>
    </tr>
    <tr>
        <th>Opslag</th>
        <td>@vm.Template.Stats.Storage</td>
    </tr>
</table>

@*TODO move wijzigen to top right*@
<a>Wijzigen</a>

@code {
    [Parameter] public int Id { get; set; }
    private VirtualMachine vm;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        vm = VMService.Get(Id);
    }
}
