@page "/maakVM"
@using Microsoft.Extensions.Logging
@inject ILogger<VMAanmaken> Logger
@using global::Shared

<EditForm Model="@vmForm" OnValidSubmit="@HandleSubmit">
<div class="headerRow">
        <h1>Maak een nieuwe VM aan</h1>
    </div>
    <div class="input-group">
        <h2>Selecteer template</h2>
        <div class="templates">
            <Template type="@ETemplate.ArtificialIntelligence"></Template>
            <Template type="@ETemplate.Database"></Template>
            <Template type="@ETemplate.MachineLearning"></Template>
        </div>
        <h2>Globale info</h2>
        <label>
            VMNaam
            <InputText @bind-Value="vmForm.VMNaam" />
        </label>
        <label>
            HostName
            <InputText @bind-Value="vmForm.HostName" />
        </label>
        <label>
            FQDN
            <InputText @bind-Value="vmForm.FQDN" />
        </label>
        <label>
            ModeType
            <InputSelect @bind-Value="vmForm.ModeType">
                <option value="@EMode.IaaS"> PAAS</option>
                <option value="@EMode.PaaS"> IAAS</option>
            </InputSelect>
        </label>
        <label>
            IsHighAvailable
            <InputSelect @bind-Value="vmForm.IsHighAvailable">
                <option value=true> Ja</option>
                <option value=false> Nee</option>
            </InputSelect>
        </label>
        <label>
            StartDate
            <InputDate @bind-Value="vmForm.StartDate"></InputDate>
        </label>
        <label>
            EndDate
            <InputDate @bind-Value="vmForm.EndDate"></InputDate>
        </label>
        <h2>VM info</h2>


        <button type="submit">Submit</button>

    </div>
</EditForm>





@code {
    private MaakVMForm vmForm = new();

    private void HandleSubmit()
    {

    }
}
