@*using System.ComponentModel.DataAnnotations;

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>CustomTemplateDialog</h2>
        </div>
        <div class="dialog-body">
          <EditForm Model="@_template" OnValidSubmit="@HandleValidSubmit">
            <div class="input-group">
                <label>
                    Mode
                    <InputSelect @bind-Value="_template.Mode" class="inputField">
                        @foreach(EMode m in EMode.GetValues(typeof(EMode))){
                            <option value=@m>@m</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(()=> _template.Mode)"></ValidationMessage>
                </label>

                <label>
                    Type
                    <InputSelect @bind-Value="_template.Type" class="inputField">
                        @foreach(ETemplate m in ETemplate.GetValues(typeof(ETemplate))){
                            <option value=@m>@m</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(()=> _template.Mode)"></ValidationMessage>
                </label>

                <label>
                    CPU <br/>
                    <InputNumber @bind-Value="_template.CPU" class="inputField" />
                </label>

                <label>
                    Ram <br />
                    <InputNumber @bind-Value="_template.RAM" class="inputField" />
                </label>

                <label>
                    Storage <br />
                    <InputNumber @bind-Value="_template.Storage" class="inputField" />
                </label>
            </div>


            <button @onclick=OnCancel class="btn-secondary">Annuleer</button>
            <button type="submit" class="btn-primary">Gebruik aangepaste template</button>
        </EditForm>
        </div>
    </div>
</div>
@code {
    public class Temp 
    {
        public EMode Mode { get; set; }
        public int Cpu { get; set; }
        public int Ram { get; set; }
        public int Storage { get; set; }
    }
    private TemplateDto.Detail _template = new();
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback<TemplateDto.Detail> OnConfirm { get; set; }

    private void HandleValidSubmit(){
        OnConfirm.InvokeAsync(_template);
    }
}
*@