<div class="template">

        <h3>@Template.Type</h3>
        <table>
            <tr>
                <td>Mode</td>
                <td>@Template.Mode</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>@Template.RAM</td>
            </tr>
            <tr>
                <td>CPU cores</td>
                <td>@Template.CPU</td>
            </tr>
            <tr>
                <td>Storage</td>
                <td>@Template.Storage</td>
            </tr>
        </table>
        @if (active)
        {
            <button @onclick="TemplateClicked" class="active">Selecteer template</button>
        }
        else{
            <button @onclick="TemplateClicked" class="inactive">Selecteer template</button>
        }

</div>

@code {
    [Parameter] public TemplateDto.Detail Template { get; set; }
    [Parameter] public ETemplate? ActiveTemplate {get; set;}
    [Parameter] public EventCallback TemplateClicked { get; set; }
    private bool active = false;

    private void handleClick(){
        active = true;
    }

}