<div class="template">

        <h3>@Template.Key</h3>
        <table>
            <tr>
                <td>Mode</td>
                <td>@Template.Value.Mode</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>@Template.Value.Stats?.Ram</td>
            </tr>
            <tr>
                <td>CPU cores</td>
                <td>@Template.Value.Stats?.Cpu</td>
            </tr>
            <tr>
                <td>Storage</td>
                <td>@Template.Value.Stats?.Storage</td>
            </tr>
        </table>
    @if (Template.Key == ActiveTemplate)
    {
            <button @onclick="TemplateClicked" class="active">Selecteer template</button>
        }
        else{
            <button @onclick="TemplateClicked" class="inactive">Selecteer template</button>
        }

</div>

@code {
    [Parameter] public KeyValuePair < ETemplate, Template > Template { get; set; }
    [Parameter] public ETemplate? ActiveTemplate {get; set;}
    [Parameter] public EventCallback TemplateClicked { get; set; }
}